body{
background:#111;
color:white;
font-family:Arial;
margin:0;
}

.header{
background:#1b1b1b;
padding:15px;
}

.logo{
font-size:24px;
font-weight:bold;
}

.search{
margin-top:10px;
width:100%;
padding:12px;
border-radius:25px;
border:none;
background:#000;
color:white;
}

.categories{
display:flex;
overflow-x:auto;
gap:15px;
padding:15px;
}

.category{
text-align:center;
min-width:90px;
}

.category img{
width:70px;
height:70px;
border-radius:10px;
}

.products{
display:flex;
overflow-x:auto;
gap:15px;
padding:15px;
}

.card{
background:#1c1c1c;
border-radius:10px;
width:180px;
padding:10px;
}

.card img{
width:100%;
border-radius:8px;
}

.price{
font-weight:bold;
font-size:18px;
}

.bottomnav{
position:fixed;
bottom:0;
width:100%;
background:#1b1b1b;
display:flex;
justify-content:space-around;
padding:10px;
}